.itemCountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contador{
    color: white;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
}
