.carrito{
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
.tablacarrito svg {
    color: red;
    cursor: pointer;
}
.cajatabla{
    margin-top: 50px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.tablacarrito{
    border: solid 2px black;
    background-color: rgba(255, 255, 255, 0.795);
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
.headtabla{
    background-color: rgba(255, 255, 255, 0.85);
} 
.vaciarCarro svg{
    color: red;
    cursor: pointer;
    width: 20px;
}
.total{
    margin-bottom: 50px;
}
.vaciartotal{
    margin-left: 100px;
}
.compra{
    margin-left: 10px;
}
h4{
    margin-top: 25px;
    margin-bottom: 25px;
}
.imgcarro{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
}
.contendorcarro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgcarrito{
    width: 100px;
    height: 100px;
}

@media (max-width: 575px){
    .tablacarrito{
        width: 100%;
    }
    .vaciartotal{
        margin-left: 50px;
    }
    .imgcarrito{
        width: 70px;
        height: 70px;
    }
    .imgcarro{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 350px;
        height: 350px;
    }
    .vaciartotal{
        margin-top: 5px;
        margin: 10px auto;
    }
}