.cart {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.795);
}
.carttitle{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.cartdescription{
    font-size: 20px;
    color: black;
}
.cartprice{
    font-size: 20px;
    color: black;
}
.cartstock{
    font-size: 15px;
    color: black;
}
.cartBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.borde{
    border: solid 2px black;
    border-radius: 20px;
}