.navbar {
height:100px ;
background-color: rgb(0, 0, 0);
}
.navbar img {
    height:100px ;
    width: 100px;
    margin-left: 0px;   
}

.navbar-collapse{
    background-color: black;
    z-index: 1;
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 20px;
}
.navbar-nav{
    margin-right: 60px;
    margin-left: 50px;
}
@media (max-width: 575px){
    .navbar img {
        height:85px ;
        width: 85px;
        margin-left: 0px;   
    }
}
